html, body {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #efefef;
  color: #444;
}

a {
  text-decoration: none;
  color: #4183c4
}

.page {
  max-width: 978px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 0;
}

.preview-section {
  font-size: 14px;
}


footer {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 10px;
  margin-top: 40px;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
  height: 64px;
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 13px;
}


.left { float: left; }
.right { float: right; }

.invertocat {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  opacity: .25;
}

footer .links li {
  display: inline-block;
  list-style-type: none;
  margin-right: 10px;
}

footer p, footer .links {
  margin: 0;
  font-size: 13px;
  padding: 0;
}

footer a {
  color: #4183c4;
  text-decoration: none;
}

footer .content {
  overflow: hidden;
}
