<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Learn.GitHub - <%= @title %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div class="container">
    <a href="/"><img src="../images/learn.github.png" alt="github learn logo" /></a>
    <div id="githublinks">
      <a href="https://github.com">home</a>
      <a href="https://github.com/login">log in</a>
      <a href="https://github.com/signup">sign up!</a>
    </div>
  </div>
</header>
<div class="container">
  <h1><%= @title %></h1>
  <p id="welcome"><%= @desc %></p>
  <div class="content">
    <%= @pcontent %>
  </div>
</div>
<div class="container">
  <div class="content">
    <p>
      This website is <a href="http://github.com/github/learn.github.com">open source</a>.
      Please help us by forking the project and adding to it.
    </p>
    <div class="links">
      <a href="https://github.com/contact">Contact &amp; Support </a> •
      <a href="http://training.github.com/">Git Training</a> •
      <a href="https://github.com/blog">Blog</a> •
      <a href="https://github.com/blog/148-github-shirts-now-available">T-Shirts</a>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="content">
      <a id="footerlogo" href="https://github.com">
        <img src="/images/github-footer-logo.png" width="109" height="51" alt="GitHub">
      </a>
      <p>
        <a href="https://help.github.com/articles/github-terms-of-service">Terms of Service</a> •
        <a href="https://help.github.com/articles/github-privacy-policy">Privacy</a> •
        <a href="https://help.github.com/articles/github-security">Security</a>
        <br />
        &copy; 2013 GitHub Inc. All rights reserved.
      </p>
    </div>
  </div>
</footer>
  <script>
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  var pageTracker = _gat._getTracker("UA-3769691-2");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>
</body>
</html>