<div class="container">
  <div class="content">
    <p>
      This website is <a href="http://github.com/github/learn.github.com">open source</a>.
      Please help us by forking the project and adding to it.
    </p>
    <div class="links">
      <a href="https://github.com/contact">Contact &amp; Support </a> •
      <a href="http://training.github.com/">Git Training</a> •
      <a href="https://github.com/blog">Blog</a> •
      <a href="https://github.com/blog/148-github-shirts-now-available">T-Shirts</a>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="content">
      <a href="https://github.com" class="invertocat">
        <img src="/images/invertocat.png" width="24" height="24" />
      </a>
      <ul class="links left">
        <li><a href="https://help.github.com/articles/github-terms-of-service">Terms of Service</a></li>
        <li><a href="https://help.github.com/articles/github-privacy-policy">Privacy</a></li>
        <li><a href="https://help.github.com/articles/github-security">Security</a></li>
      </ul>
      <p class="right">&copy; 2014 GitHub Inc. All rights reserved.</p>
    </div>
  </div>
</footer>
  <script>
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  var pageTracker = _gat._getTracker("UA-3769691-2");
  pageTracker._initData();
  pageTracker._trackPageview();
  </script>
</body>
</html>
